@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,600;1,6..12,400&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,500;0,700;1,200&family=Roboto+Slab:wght@400;600;700&family=Space+Grotesk:wght@500;700&family=Space+Mono:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --red: #f87070;
  --teal: #70f3f8;
  --purple: #d881f8;
  --deep-blue: #1e213f;
  --white: #fff;
  --grey-light: #eff1fa;
  --grey-dark: #d7e0ff;
  --very-dark-blue: #161932;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Space Grotesk", sans-serif;
  font-family: "Space Mono", monospace;
}
h1 {
  font-size: 10rem;
  font-weight: bold;
}
h2 {
  font-size: 2.8rem;
  font-weight: bold;
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
h4 {
  font-size: 1.4rem;
  font-weight: bold;
}
body {
  font-size: 1.4rem;
  background-color: var(--deep-blue);
  display: grid;
  place-items: center;
}

.title {
  color: var(--grey-dark);
  margin-top: 4.8rem;
  margin-bottom: 5rem;
  font-size: 3.2rem;
  text-align: center;
  font-weight: bold;
}
.btn {
  padding-block: 1.9rem;
  padding-inline: 2.5rem;
  border-radius: 200rem;
  background-color: transparent;

  color: var(--white);
  border: none;
  cursor: pointer;
  color: var(--grey-dark);
  font-style: inherit;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}

.btn-apply {
  background-color: var(--red);
  color: var(--white);
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  padding-inline: 4.7rem;
  padding-top: 2.1rem;
  padding-bottom: 1.6rem;
}
.btn-apply:hover {
  bottom: -4%;
  color: #333;
}
.active-class {
  background-color: var(--red);
  color: black;
}
.btn-container {
  border-radius: 200rem;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: space-evenly;
  padding: 7px;
  margin-bottom: 4.5rem;
}
.timer-container {
  position: relative;
  margin-inline: auto;
  margin-bottom: 6rem;
}
.timer-container::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    135deg,
    rgba(14, 17, 42, 1) 25%,

    rgba(14, 17, 42, 4) 25%,

    rgba(46, 50, 90, 5) 90%,
    rgba(46, 50, 90, 5) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: -11;
  transform: scale(1.1);
}
.timer-option {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--grey-dark);
}
.timer-option h1 {
  font-size: 100px;
}
.timer-option p {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: grid;
  place-items: center;
}

svg {
  cursor: pointer;
}
.svg-container {
  text-align: center;
}
.settings-menu {
  position: relative;
  max-width: 54rem;
  background-color: var(--white);
  border-radius: 2.5rem;
  padding-bottom: 4rem;
}
.settings-header {
  padding: 3.4rem 3.8rem;
  display: flex;
  justify-content: space-between;
  align-tracks: center;

  /* border-bottom: solid 1px red; */
}
.settings-header svg {
  align-self: center;
}
.underline {
  border: solid 1px #e3e1e1;
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 2.8rem;
}
.timer-info {
  padding-inline: 3.8rem;
}
.info-h3 {
  font-family: "kumbh Sans";
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  align-self: center;
}
form {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2.4rem;
}
.form-control {
  width: 14rem;
  margin-top: 1.9rem;
}
input {
  width: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: inherit;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(30, 33, 63, 0.7);
}
.font-sample,
.color-sample {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  align-self: center;
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
}
.check {
  /* height: 0; */
  /* width: 0; */
  /* opacity: 0; */
  /* border-bottom: 2px solid #333; */
  /* border-right: 2px solid #333; */
  transform: rotate(45deg);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  transition-delay: 0.15s;
}

.fonts-container,
.color-container {
  width: 15.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.font-info,
.color-info {
  padding-bottom: 2.4rem;
  display: flex;
  justify-content: space-between;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.number-input {
  position: relative;
}
input {
  padding: 1.5rem;
  background-color: var(--grey-light);
  border-radius: 5px;
  border: transparent;
}
input:focus {
  outline: none;
}
.arrow-up {
  z-index: 3;
  position: absolute;

  top: 10px;
  right: 16px;
}

.arrow-down {
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.error {
  font-size: 1rem;
  font-weight: bold;
  color: red;
  position: absolute;
}
.settings-icon {
  transition: all 0.3s ease-in-out;
}
.settings-icon:hover {
  transform: rotate(90deg);
}

@media only screen and (max-width: 600px) {
  body {
    padding-inline: 2.3rem;
  }
  .settings-menu {
    max-width: 32.7rem;
  }
  form {
    grid-template-columns: 1fr;
  }
  .form-control {
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }
  input {
    width: 14.1rem;
  }
  label {
    align-self: center;
  }
  .timer-info {
    padding: 2.4rem;
    padding-top: 0;
  }
  .settings-menu {
    border-radius: 5px;
    padding-bottom: 3.2rem;
  }
  .settings-header {
    padding: 2.4rem 2.8rem;
  }
  .underline {
    margin-bottom: 2.4rem;
  }
  .info-h3 {
    font-size: 1.1rem;
    text-align: center;
  }
  .font-info,
  .color-info {
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .color-info {
    padding: 0;
  }
  .timer-container::before {
    transform: scale(1.05);
  }
}
